*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*Variables*/


.tituloSection{
  font-size: 3.5rem;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 4%;
  color: white;
  font-family: 'Titulo';
  text-align: center;
  letter-spacing: 2px;
  background-image: linear-gradient(45deg,#FFCC70,  #C850C0, #5B79D0) ; /* Define el degradado */
  -webkit-background-clip: text; /* Para navegadores  webkit */
  background-clip: text;
  color: transparent; /* Hacemos el texto transparente */
}

@font-face {
  font-family: 'Titulo'; /* Nombre de la fuente que usarás para titulos */
  src: url('../Fonts/Oswald.ttf');
}
@font-face {
  font-family: 'Subtitulo'; /* Nombre de la fuente que usarás para titulos */
  src: url('../Fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Cuerpo'; /* Nombre de la fuente que usarás para titulos */
  src: url('../Fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Menu'; /* Nombre de la fuente que usarás para titulos */
  src: url('../Fonts/Montserrat-Regular.ttf');
}


body{
	font-family: lato, Arial, sans-serif;
	 background-color: black;
}


header{
    position: fixed;
    /* max-width: 2281px; */
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /* margin: 0px auto; */
    padding-top: 30px;
    top: 0;
    /* left: 17%; */
    border-radius: 4px;
    font-size: 1.3rem;
    margin-bottom: 7%;
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    z-index: 99;

}


.clearfix {
  width: 100%;
  height: 1px;
  background-color: #C850C0; /* Color verde neón */
  opacity: 0.4;
  position: relative;
  clear: both;
  margin-top: 3px;
}


.clearfix::before {
  content: "";
  position: absolute;
  top: -5px; /* Desplazamiento hacia arriba para el efecto neón */
  left: -5px; /* Desplazamiento hacia la izquierda para el efecto neón */
  right: -5px; /* Desplazamiento hacia la derecha para el efecto neón */
  bottom: -5px; /* Desplazamiento hacia abajo para el efecto neón */
  background-color: #C850C0; /* Color verde neón */
  opacity: 0.9; /* Opacidad del efecto neón */
  filter: blur(6px); /* Desenfoque para el efecto neón */
  z-index: -1; /* Coloca el efecto neón detrás de la línea */
  border-radius: 20px;
}


.logo{
  width: 40%;
  height: auto;
  padding: 0 25px;
  display: none;
}

.logo1{
  width: 40%;
  height: auto;
  padding: 0 25px;
  display: block;
}

nav{

  margin:0 auto;
  margin-bottom: 2%;
}

nav ul{

  display: flex;
  right: 0pxx;
}

nav ul li{
  list-style: none;
}

nav ul li a{

  display: block;
  margin: 10px 0px;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  font-family: 'Cuerpo';
  font-size: 1rem;
}

nav ul li a:hover,
nav ul li a.active{  /*Ponemos asi el .activa con la "," arriba en el hover por que va junto, la class activa la llamaremos en el JavaScript*/

  color: white;
  transition: 0.2s;
  border-radius: 30px;
  border: 1px solid #C850C0;
  background: linear-gradient(45deg, #C850C0, #5B79D0);

}

  
.imgPortada{
  background-color: black;
  width: 100%;

}

.imgPortada img{
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: flex;
  overflow: hidden; 
  object-fit: contain;
  margin-top: 6%;
} 
.wireflows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  display:flex;
  flex-wrap:wrap;
  margin:5px;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}

.column{
  flex:16.6%;
  max-width:16.6%;
  padding:10px;
}

.row img{
  width:100%;
  margin-top:10px;
  transition: all 0.5s ease-in-out;
}

.row img:hover{
  transform:scale(1.20, 1.20);
  cursor: pointer;
}


/*GIF_______________*/


.contenedor {

    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Ajusta la altura según tus necesidades */
}

.fila {  
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px; /* Espaciado entre las filas */
}

.fila img {
    border-radius: 20px;
    width: 100%; /* Ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 0px 25px; /* Espaciado entre las imágenes */
}



/* Estilos para la sección de dos columnas con texto*/

.infoTexto {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 70%;
  margin: 10% auto 0;
  margin-bottom: 10%;
}

/* Estilos para la columna izquierda */
.column-left {
  flex: 1;  
  max-width: 50%;
  padding: 20px; 
  display: flex; /* Convertir la columna en un contenedor flex */
  flex-direction: column; /* Alinear el contenido verticalmente */
  justify-content: center; /* Centrar el contenido verticalmente */
  align-items: left;
 
}

.column-left h1 {
  margin: 0; /* Elimina el margen predeterminado del título */
  text-align: CENTER; /* Alinea el título a la izquierda */
  font-family: 'Subtitulo';
  color: white;
  font-size: 2rem;
}

.column-left img{
  width: 40%;
  height: auto;
/*  margin-top: 10%;*/
  margin: 10%  auto 0;
  display: block;
}

/* Estilos para la columna derecha */

.column-right {
  flex: 1; 
  max-width: 50%; 
  padding: 20px; 

}

.column-right P{
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: 'Cuerpo';
  color: white;
  margin-top: 5%;
}


/* Estilos CSS para el footer */
footer {
    background-color: #191919;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 5%;
}

/* Estilo para el eslogan */
.slogan {
    font-size: 1.5rem;
    font-family: 'Subtitulo';
    margin-bottom: 10px;
}


.botonFooter{
    width: auto;
    height: auto;
    color: white;
    border-radius: 30px;
    border: 1px solid #C850C0;
    background: linear-gradient(45deg, #C850C0, #5B79D0);
    font-size: 1rem;
    padding: 10px 5px;
    font-family: 'Cuerpo';
    margin: 1%;
    transition: background-color 0.3s ease; 
}

.botonFooter:hover {
  color: black;
} 

/* Estilo para la imagen del logotipo */
.logoFooter {
    max-width: 100px;
    height: auto;
    display: block;
    margin: auto;
        margin-top: 3%;
    margin-bottom: 3%;
}

footer p{
  font-size: 1.2rem;
  margin: 1%;
  font-family: 'Cuerpo';
}

footer i{
  margin-right: 2%;
}

.divider {
    border-top: 1px solid #fff;
    margin: 20px auto; /* Margen superior e inferior para centrar la línea */
    width: 50%; /* Ancho de la línea */
}


/*Responsive*/


@media (max-width:1450px){
 .wireflows img{
  width: 70%;
 }
}

@media (max-width:1400px){
  .imagenRest{
    padding: 79px 0px;
  }

   .tituloSection{
    font-size: 3rem;
  }
 .imgPortada{
    margin-top: 7%;
  }

  .column-left h1{
  font-size: 1.8rem;
}

.column-right p{
  font-size: 1rem;
}

}

@media (max-width: 1200px){

#menu{
    margin: 20px;
  }

  .tituloSection{
  text-align: center;
  margin-left: 0px;
  font-family: 'Titulo';
  font-size: 2.3rem;
  }

 .imgPortada{
    margin-top: 7%;
  }
  .row img:hover{
  transform:scale(1.40, 1.40);
  cursor: pointer;
}

.column-left h1{
  font-size: 1.5rem;
}

.column-right p{
  font-size: 1rem;
}

}

@media (max-width: 1000px){

  .column{
    flex:16.6%;
    max-width:16.6%;  
  }
    .tituloSection{
  font-size: 1.9rem;
    }
.imgPortada{
    margin-top: 15%;
  }

  .column-left h1{
  font-size: 1.4rem;
}

.column-right p{
  font-size: 1.2rem;
}
}

@media (max-width: 956px){
  .logo1{
    width: 70%;
  }

     .imgPortada{
    margin-top: 15%;
  }

   .column-left,
  .column-right {
    flex: 100%; /* Ocupan el 100% del ancho en pantallas pequeñas */
    max-width: 100%; /* Ancho máximo en pantallas pequeñas */
  }

}


@media (max-width: 950px){

	
  header{

  flex-direction: row; /* Cambia a dirección de fila para alinear horizontalmente */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between; /* Espacio entre el logotipo y la barra de navegación */
  height: auto; 
  
  }

.clearfix{
  margin-top: 25px;
}

#menu{
    
    width: 40px;
    display: block;
    margin: 10px;
    float: right; /*Para que se ponga el menu hamburguesa a la derecha*/
    text-align: center;
    font-size: 30px;
    color: #5B79D0;
    cursor: pointer;
  }

  #menu:before{ /*Para que no se active el responsive tablet*/
    
    content: '\f0c9';/*Pegamos lo de FontAwesome*/
    font-family: fontAwesome;
    line-height: 40px;
  }

  .logo{
  width: 40%;
  display: block;
  }

  .logo1{
    display: none;
  }

  nav{

    display: none; /*Escondemos el menu de pantalla*/
  }

  nav.active{

    display: block; /*Para que se agrupen todas las listas que hay debajo de esa classe*/
    width: 100%;
  }

  nav.active ul{

    display: block; /*Vuelves a decirle que se ponga en bloque la ul*/
  }

  nav ul li a{
   padding: 25px;
  }

  nav.active ul a{
    margin: 0;

  }

  .tituloSection{ 
    text-align: center;
    margin-left: 0px;
    margin-top: 5%;
    font-size: 2.3rem;
  }


		.column{
    flex:33.3%;
    max-width:33.3%;
  }


  .fila {
    margin: 1px 15px;
     text-align: center; /* Centra el contenido */
  }

  .fila img {
    margin: 15px 1px;
    width: 100%; /* Ancho del 100% para ocupar el ancho del contenedor */
  }
    .row img:hover{
  transform:scale(1.30, 1.30);
  cursor: pointer;
}


  .imgPortada{
    margin-top: 12%;
  }

  .imgPortada img {
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    max-height: 300%; /* Ajusta la altura de la imagen al 200% del contenedor */
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste proporcionalmente al ancho */
    object-fit: contain; /* Ajusta la imagen para que mantenga su relación de aspecto */
  }

  
.footer-content {
  flex-direction: column;
  text-align: center;
}

.divider {
  width: 80%;
}


}


@media (max-width: 930px){

  .column{
    flex:33.3%;
    max-width:33.3%;  
  }

    .row img:hover{
  transform:scale(1.20, 1.20);
  cursor: pointer;
}

 .logo1{
    width: 80%;
  }


}


@media (max-width: 850px){
  .logo1{
    width: 80%;
  }

  .contenedor{
    margin-top: 10px;
  }

  .imgPortada{
    margin-top: 18%;
  }
}

@media (max-width: 800px){
  .logo1{
    width: 100%;
  }
}

@media (max-width: 770px){
  .logo1{
    width: 100%;
  }

  nav ul li a{
    font-size: 0.9rem;
  }
  
  .imgPortada{
    margin-top: 13%;
  }
}


@media (max-width:620px){
  .tituloSection{
    font-size: 2rem;
  }

  .logo{
    width: 40%;
  }
     .imgPortada{
    margin-top: 19%;
  }
}

@media (max-width: 535px){

.tituloSection{
    margin-top: 5%;

  }

   .imgPortada{
    margin-top: 22%;
  }

  .logoFooter{
      margin: 5% auto;
  }

  footer p{
  font-size: 0.8rem;
  margin-top: 6%;
  font-family: 'Cuerpo';
}

.slogan {
    font-size: 1.3rem;
}

.column-left h1{
  font-size: 1.5rem;
}

.infoTexto{
  margin-bottom: 30%;
}

}

@media (max-width: 430px){

	.tituloSection{
		font-size: 2rem;
	}
	.column{
    flex:50%;
    max-width:50%;
  }

  .logo {
    width: 80px; /* Ajusta el ancho del logo automáticamente */
    height: 40px; /* Altura fija del logo */
    padding: 0 5px;
  }

  header {
    flex-direction: row; /* Restablece la dirección de flexión a fila */
    justify-content: space-between; /* Alinea los elementos en ambos extremos */
    align-items: center; /* Centra los elementos verticalmente */
  }

  #menu {
    width: auto; /* Ajusta el ancho del menú hamburguesa automáticamente */
    margin: 0; /* Elimina el margen del menú hamburguesa */
  }
  .row img:hover{
  transform:scale(1.40, 1.40);
  cursor: pointer;
}

.column-right p{
  font-size: 0.8rem;
}

}

@media (max-width:350px){
  .tituloSection{
    font-size: 1.3rem;
    margin-top: 5%;
  }

    .imgPortada{
    margin-top: 24%;
  }

    .logoFooter{
      margin: 5% auto;
  }

  footer p{
  font-size: 0.8rem;
  margin-top: 6%;
  font-family: 'Cuerpo';
}

}

@media (max-width:305px){

    .imgPortada{
    margin-top: 30%;
  }
}