*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*Variables*/


.tituloSection{
  font-size: 3.5rem;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 4%;
  color: white;
  font-family: 'Titulo';
  text-align: center;
  letter-spacing: 2px;
  background-image: linear-gradient(45deg,#FFCC70,  #C850C0, #5B79D0) ; /* Define el degradado */
  -webkit-background-clip: text; /* Para navegadores  webkit */
  background-clip: text;
  color: transparent; /* Hacemos el texto transparente */ 
}


@font-face {
  font-family: 'Titulo'; /* Nombre de la fuente que usarás para titulos */
  src: url('../Fonts/Oswald.ttf');
}

@font-face {
  font-family: 'Subtitulo'; /* Nombre de la fuente que usarás para titulos */
  src: url('../Fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Cuerpo'; /* Nombre de la fuente que usarás para titulos */
  src: url('../Fonts/Montserrat-Light.ttf');
}

body{
	font-family: lato, Arial, sans-serif;
	background-color: black;
}


header{
    position: fixed;
    /* max-width: 2281px; */
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /* margin: 0px auto; */
    padding-top: 30px;
    top: 0;
    /* left: 17%; */
    border-radius: 4px;
    font-size: 1.3rem;
    margin-bottom: 7%;
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    z-index: 99;

}


.clearfix {
  width: 100%;
  height: 1px;
  background-color: #C850C0; /* Color verde neón */
  opacity: 0.4;
  position: relative;
  clear: both;
  margin-top: 3px;
}


.clearfix::before {
  content: "";
  position: absolute;
  top: -5px; /* Desplazamiento hacia arriba para el efecto neón */
  left: -5px; /* Desplazamiento hacia la izquierda para el efecto neón */
  right: -5px; /* Desplazamiento hacia la derecha para el efecto neón */
  bottom: -5px; /* Desplazamiento hacia abajo para el efecto neón */
  background-color: #C850C0; /* Color verde neón */
  opacity: 0.9; /* Opacidad del efecto neón */
  filter: blur(6px); /* Desenfoque para el efecto neón */
  z-index: -1; /* Coloca el efecto neón detrás de la línea */
  border-radius: 20px;
}


.logo{
  width: 40%;
  height: auto;
  padding: 0 25px;
  display: none;
}

.logo1{
  width: 40%;
  height: auto;
  padding: 0 25px;
  display: block;
}

nav{

  margin:0 auto;
  margin-bottom: 2%;
}

nav ul{

  display: flex;
  right: 0pxx;
}

nav ul li{
  list-style: none;
}

nav ul li a{

  display: block;
  margin: 10px 0px;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  font-family: 'Cuerpo';
  font-size: 1rem;
}

nav ul li a:hover,
nav ul li a.active{  /*Ponemos asi el .activa con la "," arriba en el hover por que va junto, la class activa la llamaremos en el JavaScript*/

  color: white;
  transition: 0.2s;
  border-radius: 30px;
  border: 1px solid #C850C0;
  background: linear-gradient(45deg, #C850C0, #5B79D0);

}


/*INFORMACION DE CONTACTO*/


.contacto {
  width: 100%;
  max-width: 1200px;
  margin: 17% auto 0; /* Esto establecerá un margen superior del 50% y centrará horizontalmente */
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px rgba(200, 80, 192, 0.5);
  text-align: center;
  transform: translateY(-50%); /* Corrige el centrado vertical */
}


.contacto h1 {

  font-size: 5rem;
  font-family: 'Titulo';
  font-weight: bold;
  border-radius: 10px;
  background-color: black;
  padding: 5px;
  background: linear-gradient(45deg, #FFCC70, #C850C0, #5B79D0);
  -webkit-background-clip: text; /* Para navegadores webkit */
  background-clip: text;
  color: transparent; 

}

/* Estilos para la sección de dos columnas con texto*/

.infoTexto {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 50%;
  margin: 3% auto 0;

}



.infoTexto p:hover{
  color: #5B79D0;
}


.infoTexto i{
  margin-right: 5%;
}
/* Estilos para la columna izquierda */
.column-left {
  flex: 1;  
  max-width: 50%;
  padding: 20px; 
  display: flex; /* Convertir la columna en un contenedor flex */
  flex-direction: column; /* Alinear el contenido verticalmente */
  justify-content: center; /* Centrar el contenido verticalmente */
  align-items: left;

    text-decoration: underline;
 
}

.column-left p {
  margin: 0; /* Elimina el margen predeterminado del título */
  text-align: left; /* Alinea el título a la izquierda */
  font-family: 'Subtitulo';
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
/* Estilos para la columna derecha */

.column-right {
  flex: 1; 
  max-width: 50%; 
  padding: 20px; 

}

.column-right i{
  font-size: 2rem;
}

.column-right P{
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: 'Subtitulo';
  color: white;
  text-align: centerx;
}

/* Estilos para el mensaje de confirmación */
#mensaje-confirmacion {
    background-image: linear-gradient(45deg,#FFCC70,  #C850C0, #5B79D0) ; /* Define el degradado */
    color: white;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;x
}

#mensaje-confirmacion p{
  font-size: 1.3rem;
  color: black;
  font-family: 'Subtitulo';
}

form {
    width: 50%;
    height: auto;
    background: black;
    border: 2px solid #C850C0;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(30vh - 220px) auto;
    padding: 100px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 1;

}

/* Restablece el filtro de desenfoque cuando se muestra el mensaje */
.mensaje-confirmacion.mostrado + form {
    filter: none;
}


.cerrar {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


/*.form h2 {
    font-family: 'Titulo';
    margin: 20px 0px 70px 0px;
    padding-bottom: 10px;
    width: 45%;
    font-size: 3rem;
    border-bottom: 3px solid #78788c;
    color: transparent;
    background-image: linear-gradient(45deg,#FFCC70,  #C850C0, #5B79D0) ; /* Define el degradado */
    -webkit-background-clip: text; /* Para navegadores  webkit */
    background-clip: text;
}*/

.form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Cuerpo';
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
    font-size: 1rem;
    color: white;
}

.mensaje {
    width: 100% !important;
    padding: 10px !important;
    /* Otros estilos con !important */
}


.form input:focus {
    border-bottom: 2px solid #78788c;
}

.form p {
    color: white;
    font-size: 1.6rem;
}

.form p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 1.3rem;
    color: white;
    font-family: 'Cuerpo';
}

.form button {
    background-color: black;
    float: right;
    padding: 8px 12px;
    margin: 25px 0px 0px 8px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    font-size: 1rem;
}

.form button:hover {
    background: #78788c;
    color: #fff;
}

/* Estilos CSS para el footer */
footer {
    background-color: #191919;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 10%;
}

/* Estilo para el eslogan */
.slogan {
    font-size: 1.5rem;
    font-family: 'Subtitulo';
    margin-bottom: 10px;
}


.botonFooter{
    width: auto;
    height: auto;
    color: white;
    border-radius: 30px;
    border: 1px solid #C850C0;
    background: linear-gradient(45deg, #C850C0, #5B79D0);
    font-size: 1rem;
    padding: 10px 5px;
    font-family: 'Cuerpo';
    margin: 1%;
    transition: background-color 0.3s ease; 
}

.botonFooter:hover {
  color: black;
} 

/* Estilo para la imagen del logotipo */
.logoFooter {
    max-width: 100px;
    height: auto;
    display: block;
    margin: auto;
        margin-top: 3%;
    margin-bottom: 3%;
}

footer p{
  font-size: 1.2rem;
  margin: 1%;
  font-family: 'Cuerpo';
}

footer i{
  margin-right: 2%;
}

.divider {
    border-top: 1px solid #fff;
    margin: 20px auto; /* Margen superior e inferior para centrar la línea */
    width: 50%; /* Ancho de la línea */
}

/*Responsive*/



@media (max-width: 1770px){

.form h2{
  font-size: 2.5rem;
  width: 40%;
}

.infoTexto{
  margin: 6%auto 0;
}

.column-left p, .column-right p{
  font-size: 1rem;

}

}

@media (max-width: 1650px){

.form h2{
  width: 42%;
}

}

@media (max-width: 1570px){

.form h2{
  width: 45%;
}

}

@media (max-width: 1450px){

.form h2{
  width: 50%;
}

}

@media (max-width: 1400px){

.form h2{
  width: 60%;
}

  .contacto{
    margin-top: 25%;
  }
}

@media (max-width: 1270px){

	#menu{
		margin: 20px;
	}

.column-left p{
  font-size: 1rem;
}

.column-right p{
  font-size: 1rem;
}

.column-right i{
  font-size: 1.2rem;
}

}

@media (max-width: 1200px){
  .clearfix{
    margin-top: 2%;
  }
  

    header {
    flex-direction: row; /* Cambia la dirección de flexión a fila */
    justify-content: space-between; /* Alinea los elementos en ambos extremos */
    align-items: center; /* Centra verticalmente los elementos */
  }

  .logo {
    width: 50%; /* Ajusta el ancho del logotipo automáticamente */
    height: auto; /* Ajusta la altura del logotipo automáticamente */
  }

  nav {
    float: right; /* Alinea el menú a la derecha */
    margin-bottom: 0; /* Elimina el margen inferior del menú */
  }

  nav ul {
    display: flex;
    right: auto; /* Ajusta la posición a la derecha automáticamente */
  }

.form h2{
  width: 70%;
}


.column-left p{
  font-size: 1rem;
}

.column-right p{
  font-size: 1rem;
}

    .contacto{
    width: 80%;
  }


}


@media (max-width: 1100px) {
    header {
    flex-direction: row; /* Cambia la dirección de flexión a fila */
    justify-content: space-between; /* Alinea los elementos en ambos extremos */
    align-items: center; /* Centra verticalmente los elementos */
  }

  .logo {
    width: 50%; /* Ajusta el ancho del logotipo automáticamente */
    height: auto; /* Ajusta la altura del logotipo automáticamente */
  }

  nav {
    float: right; /* Alinea el menú a la derecha */
    margin-bottom: 0; /* Elimina el margen inferior del menú */
  }

  nav ul {
    display: flex;
    right: auto; /* Ajusta la posición a la derecha automáticamente */
  }

  .form h2{
  width: 70%;
}


.column-left p{
  font-size: 1rem;
}

.column-right p{
  font-size: 1rem;
}

.column-right i{
  font-size: 1rem;
}

.infoTexto{
  width: 60%;
}

    .contacto{
    margin-top: 30%;
  }

}

@media (max-width:990px){

  .form{
    width: 80%;
  }
}

@media (max-width:968px){

	 header{

  flex-direction: row; /* Cambia a dirección de fila para alinear horizontalmente */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between; /* Espacio entre el logotipo y la barra de navegación */
  height: auto; 
  
  }

.clearfix{
  margin-top: 25px;
}

#menu{
    
    width: 40px;
    display: block;
    margin: 10px;
    float: right; /*Para que se ponga el menu hamburguesa a la derecha*/
    text-align: center;
    font-size: 30px;
    color: #5B79D0;
    cursor: pointer;
  }

  #menu:before{ /*Para que no se active el responsive tablet*/
    
    content: '\f0c9';/*Pegamos lo de FontAwesome*/
    font-family: fontAwesome;
    line-height: 40px;
  }

  .logo{
  width: 40%;
  display: block;
  }

  .logo1{
    display: none;
  }

  nav{

    display: none; /*Escondemos el menu de pantalla*/
  }

  nav.active{

    display: block; /*Para que se agrupen todas las listas que hay debajo de esa classe*/
    width: 100%;
  }

  nav.active ul{

    display: block; /*Vuelves a decirle que se ponga en bloque la ul*/
  }

  nav ul li a{
   padding: 25px;
  }

  nav.active ul a{
    margin: 0;

  }


.logo{
	width: 40%;
	height: auto;
}

.footer-content {
  flex-direction: column;
  text-align: center;
}

.divider {
  width: 80%;
}

.form h2{
  width: auto;
}

.form{
  width: 80%;
}

 .column-left,
  .column-right {
    text-align: center;
    flex: 100%; /* Ocupan el 100% del ancho en pantallas pequeñas */
    max-width: 100%; /* Ancho máximo en pantallas pequeñas */
  }

.column-left p{
  font-size: 1.3rem;
}

.column-right p{
  font-size: 1.3rem;
}

  .contacto{
  margin-top: 30%;
  width: 80%;
}


}

@media (max-width: 950px){
  .logo1{
    width: 70%;
  }
  

  .tituloSection{
    margin: 90px 30px;
    margin-top: 35%;
  }

  .contacto{
    margin-top: 30%;
  }
}

@media (max-width: 850px){
  .logo1{
    width: 80%;
  }
    .contacto{
    margin-top: 33%;
  }
}


@media (max-width: 800px){
  .logo1{
    width: 100%;
  }
    .contacto{
    margin-top: 35%;
  }
}

@media (max-width: 770px){
  .logo1{
    width: 100%;
  }

    nav ul li a{
    font-size: 0.9rem;
  }
.form h2{
  width: auto;
  font-size: 2rem;
}

.form{
  width: 70%;
}

    .contacto{
    margin-top: 40%;
  }

  .contacto h1{
    font-size: 3rem;
  }
}

@media (max-width: 610px){

.form h2{
  font-size: 2rem;
}

}

@media (max-width: 610px){

.form h2{
  font-size: 1.5rem;
}

.form p{
  font-size: 1rem;
}

.form input{
  font-size: 1rem;
}

.infoTexto{
  margin-top: 10%;
}

.column-left p{
  font-size: 1rem;
}

.column-right p{
  font-size: 1rem;
}

.contacto h1{
font-size: 3rem;
}

}

@media (max-width: 530px){

.form h2{
  font-size: 1.8rem;
}

.form p{
  font-size: 1rem;
}

.form input{
  font-size: 1rem;
}

.logoFooter{
      margin: 5% auto;
  }

  footer p{
  font-size: 0.8rem;
  margin-top: 6%;
  font-family: 'Cuerpo';
}

.slogan {
    font-size: 1.3rem;
}

.column-left p{
  font-size: 0.8rem;
}

.column-right p{
  font-size: 0.8rem;
}

}

@media (max-width: 480px) {

.logo {
    width: 80px; /* Ajusta el ancho del logo automáticamente */ /* Altura fija del logo */
    padding: 0 5px;
  }

  header {
    flex-direction: row; /* Restablece la dirección de flexión a fila */
    justify-content: space-between; /* Alinea los elementos en ambos extremos */
    align-items: center; /* Centra los elementos verticalmente */
  }

  #menu {
    width: auto; /* Ajusta el ancho del menú hamburguesa automáticamente */
    margin: 0; /* Elimina el margen del menú hamburguesa */
  }

  .form{
    width: 80%;
  }

    .contacto h1{
    font-size: 2rem;
  }
    .contacto{
    margin-top:50%;
  }

}

@media (max-width: 420px) {

  .form{
    width: 80%;
  }

  .form input{
    font-size: 1rem;
  }
}

@media (max-width: 350px){
  

  .logoFooter{
      margin: 5% auto;
  }

  footer p{
  font-size: 0.8rem;
  margin-top: 6%;
  font-family: 'Cuerpo';
}

  .logoFooter{
      margin: 5% auto;
  }

  footer p{
  font-size: 0.8rem;
  margin-top: 6%;
  font-family: 'Cuerpo';
}

    .contacto{
    margin-top: 70%;
  }

  .subtituloTexto{
    font-size: 1.2rem;
  }

}

@media (max-width: 360px) {

  .form{
    width: 80%;
  }

  .form h2{
    font-size: 1.3rem;
  }
  .form input{
    font-size: 1rem;
  }

  #mensaje-confirmacion{
    width: 50%;
    padding: 40px 40px;
  }

  #mensaje-confirmacion p{
    font-size: 1rem;
  }


}